---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = 'About';
const identity = {
  firstName: "Laura",
  country: "Spain",
  occupation: "graphic design student",
  hobbies: ["illustration", "cooking", "reading"],
  selfcare: ["meditation", "bowspring"],
};
const skills = ["HTML", "CSS", "Document redactation"];

const happy = true;
const finished = true;
const goal = 1;
---

<BaseLayout pageTitle={pageTitle}>
	<h2>About me</h2>
	<p>Hi! I'm Laura, a graphic design student who is learning Astro.</p>
	<p>I'm currently learning Astro to improve my front-end development skills.</p>
	<p>I'm a {identity.occupation} who is bridging to front-end development.</p>
    <p>I'm such a newbie, but I spend a little every day!</p>
	<ul>For now my skills are basic: {skills.map((skill) => <li class="skill">{skill}</li>)}</ul>

	<p>There are here some facts about me:</p>

	<ul>
		<li>My name is {identity.firstName}.</li>
		<li>I live in {identity.country}.</li>
			{identity.hobbies.length >= 2 && identity.selfcare.length >= 1 &&
		<li>I barely have free time. And when I have it, my priority are dev tutorials. But I also try to find a while for enjoying my main hobby, which is {identity.hobbies[0]}. 
			I also like {identity.hobbies[2]} and {identity.hobbies[1]}.</li>} To recovery energy I do {identity.selfcare[0]}, and move my body doing {identity.selfcare[1]} to unlock it.
		
	</ul>

	{happy && <p>I'm happy learning Astro!</p>}
	{finished && <p>I've finished the tutorial!</p>}
	{goal === 1 && <p>My goal is to finish the tutorial in 1 week.</p>}
</BaseLayout>
